<a href="https://colab.research.google.com/github/sanaomaro/datainsight/blob/main/_args_and_kwargs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
def sum(no1, no2):
  return no1 + no2

In [23]:
sum(4,5)

9

In [24]:
def sum(list_of_no):
  result = 0
  for x in list_of_no:
    result +=x
  return result

list_of_no= [2,5,6]
sum(list_of_no)

13

In [25]:
def sum(*args):
    result = 0
    # Iterating over the Python args tuple
    for x in args:
        result += x
    return result

sum(2,5,6)

13

In [26]:
def sum(*variables):
    result = 0
    # Iterating over the Python args tuple
    for x in variables:
        result += x
    return result

sum(2,5,6)

13

In [27]:
def sum(no1 , no2=4): #no1 is positional argument, while n2 is keyword argument
  return no1+ no2

In [28]:
sum(4)

8

In [29]:
def keyarguments(a, b, **kwargs):
  print(a)
  print(b)
  print(kwargs)

keyarguments(5,6, third_no = 7, forth_no = 8)

5
6
{'third_no': 7, 'forth_no': 8}

In [31]:
def show_data(**kwargs):
    print("\nType of argument:",type(kwargs))

    for key, value in kwargs.items():
        print("{} is {}".format(key,value))
        

show_data(Name= "sana", Program= "data science", Platform= "Data Insight")

Type of argument: <class 'dict'>
Name is sana
Program is data science
Platform is Data Insight